/*===============================
MESSAGES
===============================*/

$msg-color: #1f96fb;

@keyframes typing1 {
  0% {
    width: 12px;
    height: 12px;
    margin: 0;
  }
  50% {
    width: 8px;
    height: 8px;
    margin: 2px;
  }
  100% {
    width: 8px;
    height: 8px;
    margin: 2px;
  }
}

.hidden {
  display: none !important;
}

.messenger {
  border: 1px solid #eee;
  position: relative;
  transform: translate3d(0,0,0);
}

#messagePane {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 74px;
  margin-bottom: -52px;
  padding-bottom: 64px;
  overflow: auto;
}

.message.self {
  text-align: right;
}

.point {
  background-color: #ccc;
  display: inline-block;
  border-radius: 100px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  height: 8px;
  width: 8px;
  margin: 2px;
}

.point:nth-of-type(1) {
  animation-name: typing1;
}

.point:nth-of-type(2) {
  animation-delay: 333ms;
  animation-name: typing1;
}

.point:nth-of-type(3) {
  animation-delay: 667ms;
  animation-name: typing1;
}

.message>span {
  background-color: #eee;
  border-radius: 1em/1em;
  display: inline-block;
  margin: .25em 0;
  position: relative;
  padding: 1em;
}

.message:not(.self) span::before {
  display: block;
  content: ' ';
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);

  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-right: 12px solid #eee;
}

.message:not(.self) {
  margin-left: 12px;
}

.message.self span {
  background-color: $msg-color;
  color: #fff;
  margin-right: 12px;
}

.message.self span::after {
  display: block;
  content: ' ';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);

  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-left: 12px solid #1f96fb;
}

#inputPane {
  padding: .5em 12px;
  width: 100%;
  bottom: 0;
  display: block;
  position: fixed !important;
  transform: translateY(100%);
}

.indicator span::before,
.indicator span::after {
  display: none !important;
}

.indicator {
  text-align: right;
  margin-right: 12px;
}

input {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: .5em;
  width: 100%;
}

input[type="submit"] {
  background-color: $msg-color;
  color: #fff;
  font-weight: lighter;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  margin: .25em 1em .25em 0;
  border-radius: 100px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input[disabled] {
  border-color: #eee;
  color: #eee;
  opacity: .5 !important;
}

