@import "settings";
@import "compass";
@import "_variables.scss";
@import "_mixins.scss";

// Components
@import "_messages.scss";

// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
  "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/*======================================
HEADER
======================================*/

#choose_your_story {
	z-index: 9999;
}

.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 1px 5px #333333;
  background-color: #fff;
}

.he_toggled {

	.she_said_header {
		opacity: .5;
		@include transition(all .5s ease-in-out);
	}

	.main_screen_container {
		background-color: rgba($blue, .5);
		@include transition(all .5s ease-in-out);
	}

}

.she_toggled {

	.he_said_header {
		opacity: .5;
		@include transition(all .5s ease-in-out);
	}

	.main_screen_container {
		background-color: rgba($red, .5);
		@include transition(all .5s ease-in-out);
	}

}

.header h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.he_said_header {
  text-align: right;
  background: #4487c7;
  cursor: pointer;
}

.she_said_header {
  text-align: left;
  background: #eb5d4b;
  cursor: pointer;
}

.he_said_header, .she_said_header {
  display: block;
  width: 50%;
  float: left;
  padding: 0px 20px
}

/*======================================
MAIN SCREEN
======================================*/

.main_screen_container {
    display: block;
    box-sizing: border-box;
    position: relative;
    @include transparent();
    @include transition(opacity 2s ease-in-out);
    z-index: -100;
}

.main_screen_container.show {
    @include opaque();
    z-index: 999;
    // background-color: rgba($blue, .5);
}

/*======================================
COMPONENTS
======================================*/

/*=== Buttons ===*/

a.primary_button {
    display: inline-block;
    background-color: #000;
    text-decoration: none;
    padding: 10px 50px;
    color: #fff;
    text-transform: uppercase;
}

.hide {
	display: none;
}

/*======================================
HEADER
======================================*/

.header_container {
    display: block;
    position: fixed;
    top: 0;
    z-index: 99999;
    text-align: center;
    width: 100%;
    background-color: rgba($black, 0);
    @include opaque();
    @include transition(opacity 1s ease-in-out);

    &.fadeOut {
		@include transparent();
		z-index: 99;
	}

    h1 {
    	color: $white;
    }
}

/*======================================
CHOOSE YOUR ACT
======================================*/

video#cya_bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

.intro_container {
    display: block;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    padding: 0px 200px;
    z-index: 99;

    h1 {
    	color: $white;
    }

    p {
	    font-size: 30px;
	    line-height: 38px;
    	color: $white;
    }
}

.intros {
	position: fixed;
	top: 0;
	width: 100%;
    display: block;
    height: 100%;

	.intro_left {
		width: 50%;
		left: 0;
		height: 100%;
		position: absolute;

		&:before {
			@include overlay(rgba(68,135,199,.4));
		}
	}

	.intro_right {
		width: 50%;
		right: 0;
		height: 100%;
		position: absolute;

		&:before {
			@include overlay(rgba(235,93,75,.4));
		}
	}
}

/*======================================
INTRO VIDEO
======================================*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    @include transition(all 1s ease-in-out);
}

.fullscreen-bg.move_down_vid {
    bottom: -100%;
}

#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*======================================
CHOOSE YOUR STORY
======================================*/

div#choose_your_story {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    @include transition(all 1s ease-in-out);

    &.header_transform {
		height: 10%;
	}
}

div#choose_your_story.move_down {
    transform: translateY(0%);
}

.cys_split_container {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}

.cys_side {
	height: 100%;
	position: fixed;
	top: 0;
	background-size: cover;
	background-position: 60% 0;

	a {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	}

	&.cys_he_container {
		width: 50%;
		left: 0;
		background-image: url('../img/he_intro.jpg');
		z-index: 9999;

		&:before {
			@include overlay(rgba(68,135,199,1));
			@include transition(all .5s ease-in-out);
			z-index: 99;
		}
	}

	&.cys_she_container {
		width: 50%;
		right: 0;
		background-image: url('../img/she_intro.jpg');
		z-index: 9999;

		&:before {
			@include overlay(rgba(235,93,75,1));
			@include transition(all .5s ease-in-out);
			z-index: 99;
		}
	}
}

.cys_he_container, .cys_she_container {

	img {
	    display: block;
	    width: 100%;
	    height: 100%;
	}

}

.cys_text_overlay {
    position: absolute;
    top: 40%;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0px 50px;
    z-index: 999;
    @include transition(top 1s ease-in-out);

    p {
    	position: relative;
    	top: 20px;
    	@include transparent();
    	@include transition(all .5s ease-in-out);
    }
}

.header_transform .cys_text_overlay {
	top: 0%;

	p {
		display: none;
	}
}

.cys_he_container:hover {
	&:before {
		@include overlay(rgba(68,135,199,.5));
	}

	.cys_text_overlay p {
		top: 0px;
    	@include opaque();
	}
}

.cys_she_container:hover {
	&:before {
		@include overlay(rgba(235,93,75,.5));
	}
	.cys_text_overlay p {
		top: 0px;
		@include opaque();
	}
}

.cys_side.header_transform.cys_he_container:before {
	@include overlay(rgba(68,135,199,1));
}

.cys_side.header_transform.cys_she_container:before {
	@include overlay(rgba(204,204,204,1));
}

.she_toggled {
	
	.cys_side.header_transform.cys_he_container:before {
		@include overlay(rgba(204,204,204,1));
	}

	.cys_side.header_transform.cys_she_container:before {
		@include overlay(rgba(235,93,75,1));
	}

}


/*=== Animate Header ===*/

.cys_she_container.animated:before {
	@include animation(header_color_notification 1s infinite ease-in-out);
}

@include keyframes('header_color_notification') {
	0% {background: rgba(235,93,75,1);}
	50% {background: rgba(204,204,204,1);}
	100% {background: rgba(235,93,75,1);}
}

/*=== Flexslider ===*/

.cys_split_container {

	.flexslider {
	    height: 100%;
	}

	ul.slides {
	    margin: 0px;
	    left: 0;
	    position: absolute;
	    -webkit-margin-start: 0px;
	    -webkit-padding-start: 0px;
	    height: 100%;
	    width: 100%;

	    li {
		    background-size: cover !important;
		    height: 100%;
		}
	}

}